# Next.js App configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Azure Storage configurations
AZURE_STORAGE_CONNECTION_STRING="your-azure-storage-connection-string"
AZURE_STORAGE_CONTAINER="your-container-name"
AZURE_STORAGE_ACCOUNT_NAME="your-storage-account-name"
AZURE_STORAGE_SAS_TOKEN="your-azure-storage-sas-token"

# Google OAuth for Admin
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
SESSION_SECRET="your-session-secret"
ALLOWED_DOMAIN="your-allowed-domain"
